src/main/app/globalfunctiondataview.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <configuration doc:name="Configuration">
	<expression-language>
	
			<global-functions>    
			    def toConcString(payload) {
			  	  	return   payload.firstName +" " +   payload.lastName
			    }
	  		 </global-functions>
	</expression-language>
	</configuration>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    
    <flow name="globalfunctiondataviewFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/dataViewGlobalFunction" doc:name="HTTP" allowedMethods="POST"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="867362bf-8447-4a0f-9a82-7708053c53f5">
            <dw:input-payload doc:sample="sampleFiles\sampleJson.json" mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"This is student details " : toConcString(payload)			

}
]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="globalfunctiondataviewFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/secondVarification" allowedMethods="POST" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="9b0c26c2-ab34-4464-bf32-003e9bc6f566">
            <dw:input-payload mimeType="application/json" doc:sample="sampleFiles\secondVarification.json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	" This is resource full name " : toConcString(payload)
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
